@import "node_modules/breakpoint-sass/stylesheets/breakpoint";

// Upper thresholds
$mobile: 600px;
$tablet: 1028px;
$desktop: 1440px;

@include add-breakpoint('mobile-only', (0px $mobile));
@include add-breakpoint('tablet-only', (($mobile + 1) $tablet));
@include add-breakpoint('desktop-only', (($tablet + 1) $desktop));
@include add-breakpoint('large-desktop-only', ($desktop + 1));

@include add-breakpoint('mobile-up', 0px);
@include add-breakpoint('tablet-up', ($mobile + 1));
@include add-breakpoint('desktop-up', ($tablet + 1));
@include add-breakpoint('large-desktop-up', ($desktop + 1));
