// =================================
// Colors
// =================================
$color-primary: #C90036;
$color-blue: #2196F3;
$color-indigo: #3F51B5;
$color-purple: #673AB7;
$color-green: #4CAF50;
$color-yellow: #FFEB3B;
$color-orange: #FF9800;
$color-brown: #795548;
$color-grey: #9E9E9E;

// =================================
// Bootstrap screen
// =================================
$bootstrap-screen-background: #0D111D;

// =================================
// Action Bar
// =================================
$action-bar-height: 56px;
$action-bar-item-color: #fff;
$action-bar-background: $color-primary;
$action-bar-item-active-background: rgba(255, 255, 255, 0.07);

// =================================
// Title header
// =================================
$title-header-height: 100px;
$title-header-font-color: #fff;
$title-header-color: rgba($color-primary, 0.8);
$title-header-title-size: 24px;
$title-header-subtitle-size: 14px;

// =================================
// Toolbar (Tabs / Search bar)
// =================================
$toolbar-height: 50px;

// =================================
// Tabs
// =================================
$tabs-item-color: #000;
$tabs-background: #fff;
$tabs-item-indicator-height: 4px;
$tabs-item-indicator-color: $color-primary;

// =================================
// Body
// =================================
$body-background: #F1F1F1;

// =================================
// Home Cards
// =================================
$card-background: #fff;
