<template>
  <div class="action-bar" :class="{ 'action-bar--hidden': !isVisible }">
    <router-link v-ripple="'rgba(0, 0, 0, 0.05)'" class="action-bar__item" :to="{ 'name': 'classes' }">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M220 164c0-55.229 44.772-100 100-100s100 44.771 100 100-44.772 100-100 100-100-44.771-100-100zM48 208c0-44.183 35.817-80 80-80s80 35.817 80 80-35.817 80-80 80-80-35.817-80-80zm384 0c0-44.183 35.817-80 80-80s80 35.817 80 80-35.817 80-80 80-80-35.817-80-80zm-22 76c38.66 0 70 31.34 70 70v70c0 13.255-10.745 24-24 24H184c-13.255 0-24-10.745-24-24v-70c0-38.66 31.34-70 70-70h17.848c44.364 26.687 99.93 26.693 144.305 0H410m-282 70c0-11.975 2.081-23.472 5.889-34.156-21.93 1.152-44.122-4.121-63.611-15.844H56c-30.928 0-56 25.072-56 56v32c0 13.255 10.745 24 24 24h104v-62zm456-50h-14.278c-19.495 11.727-41.686 16.996-63.611 15.844A101.542 101.542 0 0 1 512 354v62h104c13.255 0 24-10.745 24-24v-32c0-30.928-25.072-56-56-56z"/></svg>
      <span>Klasy</span>
    </router-link>
    <router-link v-ripple="'rgba(0, 0, 0, 0.05)'" class="action-bar__item" :to="{ 'name': 'teachers' }">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M622.884 199.005l-275.817 85.1a96 96 0 0 1-54.134 0L92.398 222.232c-8.564 11.438-11.018 23.05-11.918 38.335C89.778 266.165 96 276.355 96 288c0 11.952-6.557 22.366-16.265 27.861l16.197 123.096c.63 4.786-3.1 9.043-7.932 9.043H40c-4.828 0-8.562-4.253-7.932-9.044L48.265 315.86C38.557 310.366 32 299.952 32 288c0-12.034 6.646-22.511 16.465-27.976.947-17.951 3.974-33.231 12.152-47.597l-43.502-13.422c-22.876-6.801-22.766-39.241 0-46.01l275.817-85.1a96 96 0 0 1 54.134 0l275.817 85.1c22.877 6.801 22.767 39.241.001 46.01zM356.503 314.682l-.207.064-.207.061a127.998 127.998 0 0 1-72.177 0l-.207-.061-.207-.064-150.914-46.57L120 352c0 35.346 89.543 64 200 64s200-28.654 200-64l-12.583-83.888-150.914 46.57z"/></svg>
      <span>Nauczyciele</span>
    </router-link>
    <router-link v-ripple="'rgba(0, 0, 0, 0.05)'" class="action-bar__item" :to="{ 'name': 'classrooms' }">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M464 32H48C21.49 32 0 53.49 0 80v352c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V80c0-26.51-21.49-48-48-48zM224 416H64V160h160v256zm224 0H288V160h160v256z"/></svg>
      <span>Sale</span>
    </router-link>
    <router-link v-ripple="'rgba(0, 0, 0, 0.05)'" class="action-bar__item" :to="{ 'name': 'search' }">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
      <span>Wolne sale</span>
    </router-link>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'action-bar',
    data () {
      return {
        hide: false,
        lastScroll: 0
      }
    },
    created () {
      document.addEventListener('scroll', this.onScroll)
    },
    destroyed () {
      document.removeEventListener('scroll', this.onScroll)
    },
    methods: {
      onScroll (event) {
        const currentScroll = document.documentElement.scrollTop
        const shouldBeVisible = (this.lastScroll >= currentScroll)

        if (this.isVisible !== shouldBeVisible) {
          this.setVisible(shouldBeVisible)
        }
        this.lastScroll = currentScroll
      },
      ...mapActions({
        'setVisible': 'setActionBarVisible'
      })
    },
    computed: {
      ...mapGetters({
        'isVisible': 'isActionBarVisible'
      })
    }
  }
</script>

<style lang="scss">
  .action-bar {
    display: flex;
    z-index: 100;
    justify-content: space-around;
    @include position(fixed, auto, 0, 0, 0);
    @include rem(height, $action-bar-height);
    background-color: $action-bar-background;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);
    transition: transform .2s ease-in-out;

    &--hidden {
      transform: translate3d(0, $action-bar-height, 0);
    }

    &__item {
      flex: 1;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
      text-decoration: none;
      position: relative;
      color: rgba(255, 255, 255, 0.7);
      transition: all .2s ease-in-out;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-touch-callout: none;
      user-select: none;
    }

    &__item svg {
      height: 0.8em;
      width: 1em;
      font-size: 24px;
      transform: translate3d(0, 0, 0);
      transition: all .2s ease-in-out;
    }

    &__item span {
      opacity: 0;
      position: absolute;
      @include rem(font-size, 12px);
      bottom: 8px;
    }

    &__item.router-link-active {
      padding: 0 10px;
      color: $action-bar-item-color;      

      svg {
        transform: translate3d(0, -8px, 0);
      }

      span {
        opacity: 1;
        transition: all .4s ease-in-out;      
      }
    }
  }
</style>