<template>
  <div class="container" :class="{ 'container--scrolled': !isActionBarVisible }" :style="{ transform: 'translate3d(' + offset + ', 0, 0)' }">
    <slot></slot>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'container',
    props: {
      tab: { required: false, type: Number }
    },
    computed: {
      offset () {
        return (-this.tab * 100) + '%'
      },
      ...mapGetters({
        'isActionBarVisible': 'isActionBarVisible'
      })
    }
  }
</script>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    background-color: #e6e6e6;
    transform: translate3d(0, 0, 0);
    transition: transform .2s ease-in-out;
    @include rem(padding-top, $title-header-height + $toolbar-height);
  }
</style>