<template>
  <div class="search-bar">
    <input v-model="query" class="search-bar__input" @focus="setActionBarVisible(false)" @blur="setActionBarVisible(true)" type="text" placeholder="Szukaj...">
    <button class="search-bar__action">
      <i class="fas fa-search"></i>
    </button>
  </div>
</template>

<script>
  import { mapActions } from 'vuex'

  export default {
    name: 'search-bar',
    props: {
      handler: { required: true, type: Function }
    },
    data () {
      return {
        query: ''
      }
    },
    methods: {
      ...mapActions({
        'setActionBarVisible': 'setActionBarVisible'
      })
    },
    watch: {
      query (newQuery) {
        this.handler(newQuery)
      }
    }
  }
</script>

<style lang="scss">
  .search-bar {
    @include position(fixed, 0, 0, auto, 0);
    @include rem(top, $title-header-height);
    @include rem(height, $toolbar-height);
    z-index: 1;
    background-color: #fff;
    display: flex;
    box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);

    &__input {
      flex: 1;
      padding-left: 10px;
      background: none;
      outline: none;
    }

    &__action {
      background: #fff;
      padding: 0 20px;
    }
  }
</style>