<template>
  <div class="title-header" :style="{ backgroundImage: 'url(/static/img/title-header/' + background + ')' }">
    <div class="title-header__actions">
      <button class="title-header__back" v-if="iOS && actionsVisible" @click="goBack()">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 256 512"><path d="M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z"/></svg>
      </button>
    </div>
    <div class="title-header__text">
      <h2 class="title-header__title">
        {{ title || headerTitle }}
      </h2>
      <small class="title-header__subtitle" v-if="subtitle || headerSubtitle">
        {{ subtitle || headerSubtitle }}
      </small>
    </div>
    <div class="title-header__actions">
      <button v-if="actionsVisible" @click="setFav()" class="title-header__favourite" :class="{ 'title-header__favourite--active': isFav }">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"/></svg>
      </button>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'title-header',
    data () {
      return {
        slug: '',
        title: '',
        subtitle: '',
        background: '',
        isFav: false,
        actionsVisible: false
      }
    },
    methods: {
      setData (route) {
        this.title = route.meta.header.title
        this.subtitle = route.meta.header.subtitle
        this.background = route.meta.header.background

        this.actionsVisible = (route.name === 'clazz' || route.name === 'teacher' || route.name === 'classroom')
        if (this.actionsVisible) {
          this.slug = (route.params.clazz || route.params.teacher || route.params.classroom)
          this.isFav = (this.favouriteSchedule.slug === this.slug)
        }
      },
      goBack () {
        this.$router.go(-1)
      },
      setFav () {
        const slug = (this.isFav ? '' : this.slug)
        const type = (this.isFav ? '' : this.$route.name)
        this.isFav = (slug !== '')
        this.setFavouriteSchedule({ slug, type })
      },
      ...mapActions({
        'setFavouriteSchedule': 'setFavouriteSchedule'
      })
    },
    created () {
      this.setData(this.$route)
    },
    watch: {
      $route (route) {
        this.setData(route)
      }
    },
    computed: {
      ...mapGetters({
        'headerTitle': 'getHeaderTitle',
        'headerSubtitle': 'getHeaderSubtitle',
        'favouriteSchedule': 'getFavouriteSchedule'
      }),
      iOS () {
        return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream
      }
    }
  }
</script>

<style lang="scss">
  .title-header {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $title-header-font-color;
    z-index: 100;
    @include position(fixed, 0, 0, auto, 0);
    @include rem(height, $title-header-height);
    border-bottom: 1px solid $title-header-color;
    background-position: center;
    background-size: cover;
    transition: background-image .2s ease-in-out;

    &::before {
      content: ' ';
      z-index: -1;
      @include position(absolute, 0, 0, 0, 0);
      background: $title-header-color;
    }

    &__actions {
      width: 56px;
    }

    &__text {
      flex: 1;
      text-align: center;
    }

    &__favourite, &__back {
      padding: 10px;
      background: transparent;
      color: rgba(255, 255, 255, 0.5);
      font-size: 20px;
      outline: none;
      -webkit-tap-highlight-color: transparent;
      transition: color .2s ease-in-out;
    }

    &__back svg {
      width: 1.25em;
      height: 1.25em;
    }

    &__favourite svg {
      height: 1em;
      width: 1.25em;
    }

    &__favourite--active {
      color: $color-yellow;
    }



    &__title {
      @include rem(font-size, $title-header-title-size);
    }

    &__subtitle {
      margin-top: 4px;
      @include rem(font-size, $title-header-subtitle-size);
      
    }

  }
</style>