<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>ZSEM &middot; Plan Lekcji</title>
    
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.publicPath %>static/css/standarize.min.css">
    <link rel="preload" as="image" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/title-header/classes.jpg">
    <link rel="preload" as="image" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/title-header/teachers.jpg">
    <link rel="preload" as="image" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/title-header/classrooms.jpg">
    <link rel="preload" as="image" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/title-header/search.jpg">

    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="144x144" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/icon-144x144.png">
    <link rel="icon" type="image/png" sizes="192x192" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/icon-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/icon-512x512.png">    
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#C90036">
    <meta name="mobile-web-app-capable" content="yes">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Plan Lekcji">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">    
    <link rel="apple-touch-icon" sizes="76x76" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-76x76.png">    
    <link rel="apple-touch-icon" sizes="180x180" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-180x180.png">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#C90036">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.publicPath %>static/fonts/fonts.v1.css">
  </head>
  <body class="js-loading">
    <noscript>
      Aby poprawnie wyświetlić tą stronę włącz w swojej przeglądarce JavaScript
    </noscript>
    <div id="app"></div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
