<template>
  <div class="classrooms">
    <search-bar :handler="onQuery"></search-bar>
    <container>
      <classrooms-list :list="list"></classrooms-list>
    </container>
  </div>
</template>

<script>
  import Container from '@/shared/Container'
  import SearchBar from '@/shared/SearchBar'
  import ClassroomsList from './ClassroomsList'
  import { mapGetters } from 'vuex'

  export default {
    name: 'classrooms',
    data () {
      return {
        list: {}
      }
    },
    created () {
      this.list = Object.assign({}, this.classrooms)
    },
    components: {
      'container': Container,
      'search-bar': SearchBar,
      'classrooms-list': ClassroomsList
    },
    computed: {
      ...mapGetters({
        'classrooms': 'getClassroomsList'
      })
    },
    methods: {
      onQuery (query) {
        if (!query) {
          this.list = Object.assign({}, this.classrooms)
          return
        }

        const keys = Object.keys(this.classrooms)
        for (const key of keys) {
          this.list[key] = this.classrooms[key].filter(classroom => {
            const search = query.toLowerCase()
            return (classroom.slug.toLowerCase().indexOf(search) > -1 || classroom.name.toLowerCase().indexOf(search) > -1)
          })
        }
      }
    }
  }
</script>

<style lang="scss">
  .classrooms {

    &__container {
      color: #fff;
      @include rem(padding-top, $title-header-height);
    }

  }
</style>