<template>
  <div class="classrooms-list">
    <div class="classrooms-list__segment" v-for="floor in order" :key="floor">
      <div v-if="list[floor] && list[floor].length !== 0" class="classrooms-list__separator">{{ floor }}</div>
      <router-link
        v-for="classroom in list[floor]" :key="classroom.slug"
        :to="{ name: 'classroom', params: { classroom: classroom.slug } }"
        class="classrooms-list__item">
        <span class="classrooms-list__badge">{{ classroom.slug }}</span>
        <span v-if="classroom.slug !== classroom.name">{{ classroom.name }}</span>
        <span v-else>Sala {{ classroom.name }}</span>
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'classrooms-list',
    props: {
      list: { required: true }
    },
    data () {
      return {
        order: ['hades', 'parter', 'pierwsze piętro', 'drugie piętro', 'sale językowe', 'pracownie w internacie', 'sale gimnastyczna']
      }
    }
  }
</script>

<style lang="scss">
  .classrooms-list {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    &__segment {
      display: flex;
      flex-direction: column;
    }

    &__separator {
      font-weight: bold;
      @include rem(padding, 16px);
      background-color: rgba(#000, .08);
      text-transform: uppercase;
    }

    &__item {
      display: flex;
      align-items: center;
      @include rem(padding, 16px);
      text-decoration: none;
      color: inherit;
      border-bottom: 1px solid rgba(0, 0, 0, .08);
    }

    &__badge {
      display: block;
      padding: 10px 12px;
      color: #fff;
      border-radius: 4px;
      font-weight: bold;
      background-color: $color-blue;
      margin-right: 10px;
    }
  
  }
</style>