<template>
  <!-- <div class="card">
    <div class="card__image"></div>
    <div class="card__overlay">
      <router-link :to="link" class="card__name">
        <i :class="iconClass"></i><span>{{ text }}</span>
      </router-link>
    </div>
  </div> -->
  <div class="card">
    <router-link :to="link" class="card__title">
      <i :class="iconClass"></i><span>{{ text }}</span>
    </router-link>
  </div>
</template>

<script>
  export default {
    name: 'card',
    props: ['icon', 'text', 'link'],
    data () {
      return {
        iconClass: `fas fa-fw fa-${this.icon}`
      }
    }
  }
</script>

<style lang="scss">
  .card {
    flex: 1;
    padding: 0 8%;
    display: flex;
    max-height: 23%;
    border-radius: 4px;
    align-items: stretch;
    flex-direction: column;
    justify-content: center;
    background-size: cover;
    background-position: center;
    background-image: url('/static/img/cards/card-1.jpg');
    border: 1px solid rgba(#fff, .1);    
    
    &:nth-child(2) {
      background-image: url('/static/img/cards/card-2.jpg');
    }

    &:nth-child(3) {
      background-image: url('/static/img/cards/card-3.jpg');
    }

    &:nth-child(4) {
      background-image: url('/static/img/cards/card-4.jpg');
    }

    &__title {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include rem(padding, 20px);
      color: #23272A;
      border-radius: 4px;
      text-decoration: none;
      background-color: #fff;
      font-size: 18px;
      box-shadow: 0 0 18px 8px rgba(0, 0, 0, 0.2);
    }

    &__title svg {
      @include rem(margin-bottom, 4px);
    }

  }

  @include respond-to('desktop-up') {
    .card {
      padding: 0;
      min-height: 50%;
      max-height: 50%;
      max-width: 24%;
      align-items: center;
    }

    .card__title {
      padding: 0;
      font-size: 24px;
      width: 200px;
      height: 200px;
      border-radius: 50%;
      justify-content: center;
    }
  }
</style>
