<template>
  <div class="home">
    <card icon="users" text="Klasy" :link="{ name: 'classes' }"></card>
    <card icon="user" text="Nauczyciele" :link="{ name: 'teachers' }"></card>
    <card icon="columns" text="Sale" :link="{ name: 'classrooms' }"></card>
    <card icon="search" text="Szukaj" link="#"></card>
  </div>
</template>

<script>
  import Card from './Card'

  export default {
    name: 'home',
    components: {
      'card': Card
    }
  }
</script>

<style lang="scss">
  .home {
    height: 100%;
    padding: 4% 8%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
  }

  @include respond-to('desktop-up') {
    .home {
      padding: 0 10%;
      flex-direction: row;
      align-items: center;
    }
  }
</style>
