<template>
  <div class="search">
    <div class="search__bar">
      <div class="search__wrapper">
        <select v-model="day">
          <option value="0">Poniedziałek</option>
          <option value="1">Wtorek</option>
          <option value="2">Środa</option>
          <option value="3">Czwartek</option>
          <option value="4">Piątek</option>          
        </select>
      </div>
      <div class="search__wrapper">
        <select v-model="lesson">
          <option v-for="(timeframe, key, index) in timeframes" :key="index" :value="index">[{{ key }}] {{ timeframe.start }} - {{ timeframe.end }}</option>
        </select>
      </div>
      <button v-ripple="'rgba(0, 0, 0, 0.1)'" class="search-bar__action" @click="search">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
      </button>
    </div>
    <container>
      <div v-if="!online" class="search__offline">
        Do wyszukiwania wolnych sal wymagane jest połączenie z internetem
      </div>
      <div class="search__online" v-else>
        <div class="search__loading" v-if="isLoading">
          <loading-indicator></loading-indicator>
          <span>Wczytywanie wolnych sal</span>
        </div>
        <div class="search__list" v-if="!isLoading && hasList">
          <div class="search__list-segment" v-for="floor in order" :key="floor">
            <div v-if="availableRooms[floor]" class="search__separator">{{ floor }}</div>
            <div class="search__item" v-for="(room, index) in availableRooms[floor]" :key="index">
              {{ room }}
            </div>
          </div>
        </div>
      </div>
    </container>
  </div>
</template>

<script>
  import Container from '@/shared/Container'
  import SearchBar from '@/shared/SearchBar'
  import LoadingIndicator from '@/shared/LoadingIndicator'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'search',
    data () {
      return {
        day: 0,
        lesson: 0,
        online: window.navigator.onLine,
        order: ['hades', 'parter', 'pierwsze piętro', 'drugie piętro', 'sale językowe', 'pracownie w internacie', 'sale gimnastyczna']
      }
    },
    created () {
      window.addEventListener('online', this.updateConnectionStatus)
      window.addEventListener('offline', this.updateConnectionStatus)
    },
    destroyed () {
      window.removeEventListener('online', this.updateConnectionStatus)
      window.removeEventListener('offline', this.updateConnectionStatus)
    },
    components: {
      'container': Container,
      'search-bar': SearchBar,
      'loading-indicator': LoadingIndicator
    },
    computed: {
      ...mapGetters({
        'timeframes': 'getTimeframes',
        'isLoading': 'areAvailableRoomsLoading',
        'availableRooms': 'getAvailableRooms'
      }),
      hasList () {
        return Object.keys(this.availableRooms).length !== 0
      }
    },
    methods: {
      ...mapActions({
        'getAvailableRooms': 'getAvailableRooms'
      }),
      updateConnectionStatus () {
        this.$set(this, 'online', navigator.onLine)
      },
      search () {
        if (!window.navigator.onLine) return

        this.getAvailableRooms({
          day: this.day,
          lesson: this.lesson
        })

        document.querySelector('html').scrollTop = 0
      }
    }
  }
</script>

<style lang="scss">
  .search {
    height: 100%;

    &__bar {
      z-index: 100;
      @include position(fixed, 0, 0, auto, 0);
      @include rem(top, $title-header-height);
      @include rem(height, $toolbar-height);
      background-color: #fff;
      display: flex;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);
    }

    &__wrapper {
      flex: 1;
      position: relative;
      background-color: #fff;      
    }

    &__wrapper select {
      width: 100%;
      height: 100%;
      padding: 0 16px;
      outline: none;
      background: #fff;
      -webkit-appearance: none;
    }

    &__wrapper select::-ms-expand {
      display: none;
    }

    &__wrapper select:focus {
      outline: none;
    }

    &__wrapper::after {
      content: '';
      position: absolute;
      right: 4px;
      top: 42%;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-top: 5px solid #000;
    }

    &__bar button {
      width: 56px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      outline: none;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
      -webkit-touch-callout: none;
      user-select: none;
    }

    &__bar svg {
      height: 1em;
      width: 1.25em;
      fill: rgba(0, 0, 0, .85);
    }

    &__loading {
      text-align: center;
      font-weight: bold;
      text-transform: uppercase;
    }

    &__offline {
      padding: 16px;
    }

    &__online,
    &__offline {
      flex: 1;
    }

    &__segment {
      display: flex;
      flex-direction: column;
    }

    &__separator {
      font-weight: bold;
      @include rem(padding, 16px);
      background-color: rgba(#000, .08);
      text-transform: uppercase;
    }

    &__item {
      display: flex;
      align-items: center;
      @include rem(padding, 16px);
      text-decoration: none;
      color: inherit;
      border-bottom: 1px solid rgba(0, 0, 0, .08);
    }

  }

  @media screen and (max-width: 340px) {
    .search__wrapper select {
      font-size: 12px;
    }
  }

  @media screen and (max-width: 360px) {
    .search__wrapper:last-of-type select {
      padding-left: 8px;
    }
  }
</style>