<template>
  <div class="tab" :class="{ 'tab--hidden': !isActive }">
    <transition name="fade">
      <slot v-if="isActive"></slot>
    </transition>
  </div>
</template>

<script>
  export default {
    name: 'tab',
    props: {
      link: { required: false },
      name: { required: true }
    },
    data () {
      return {
        isActive: false
      }
    },
    computed: {
      href () {
        return '#' + (this.link || this.name.toLowerCase().replace(/ /g, '-'))
      }
    }
  }
</script>

<style lang="scss">
  .tab {
    flex: 1 0 100%;

    &--hidden {
      height: 0px;
      overflow: hidden;
    }
  }

  .fade-enter-active, .fade-leave-active {
    transition: opacity .2s ease-in-out;
  }

  .fade-enter, .fade-leave-to {
    opacity: 0;
  }
</style>