<template>
  <div class="tabs">
    <v-touch :swipe-options="{ direction: 'horizontal' }" @swipeleft="onSwipeLeft" @swiperight="onSwipeRight" class="tabs__touch">
      <div class="tabs__bar">
        <ul class="tabs__links">
          <li class="tabs__item" :class="{ 'tabs__item--active': tab.isActive }" v-for="(tab, index) in tabs" :key="tab.name" ref="tabs">
            <a v-ripple="'rgba(0, 0, 0, 0.05)'" class="tabs__link" :href="tab.href" @click.prevent="setActive(index)">{{ tab.name }}</a>
          </li>
          <li class="tabs__indicator" :style="{ left: indicatorLeft, right: indicatorRight, transition: indicatorTransition }"></li>
        </ul>
      </div>
      <container ref="container" :tab="activeTab">
        <slot></slot>
      </container>
    </v-touch>
  </div>
</template>

<script>
  import Container from '@/shared/Container'

  export default {
    name: 'tabs',
    props: {
      active: { required: false }
    },
    data () {
      return {
        tabs: [],
        activeTab: 0,
        indicatorLeft: '0px',
        indicatorRight: '0px',
        indicatorTransition: '',
        initialLoad: true
      }
    },
    components: {
      'container': Container
    },
    created () {
      window.addEventListener('resize', this.handleResize)
    },
    destroyed () {
      window.removeEventListener('resize', this.handleResize)
    },
    mounted () {
      this.tabs = this.$refs.container.$children
      if (this.active !== undefined) {
        this.setActive(this.active - 1)
      } else if (!window.location.hash) {
        this.setActive(0)
      } else {
        this.tabs.forEach((tab, index) => {
          if (tab.href === window.location.hash) {
            this.setActive(index)
          }
        })
      }
    },
    methods: {
      onSwipeLeft () {
        this.moveTab(1)
      },
      onSwipeRight () {
        this.moveTab(-1)
      },
      moveTab (amount) {
        if (this.activeTab + amount < 0 || this.activeTab + amount > this.tabs.length - 1) return
        this.setActive(this.activeTab + amount)
      },
      setActive (index) {
        this.tabs.forEach((tab) => {
          tab.isActive = false
        })

        this.activeTab = index
        this.tabs[index].isActive = true
        this.$router.replace(this.tabs[index].href)
        this.$nextTick(this.updateIndicator)
      },
      updateIndicator () {
        if (!this.initialLoad) {
          this.indicatorTransition = 'all .2s ease-in-out'
        }
        let tab = this.$refs.tabs[this.activeTab]
        let tabContainer = tab.parentElement
        let tabBar = tabContainer.parentElement
        this.indicatorLeft = tab.offsetLeft + 'px'
        this.indicatorRight = (tabContainer.offsetWidth - tab.offsetLeft - tab.offsetWidth) + 'px'
        if (tab.offsetLeft + tab.offsetWidth > tabContainer.offsetWidth + tabBar.scrollLeft) {
          tabBar.scrollLeft = tab.offsetLeft - tab.offsetWidth
        } else if (tab.offsetLeft < tabBar.scrollLeft) {
          tabBar.scrollLeft = tab.offsetLeft - tab.offsetWidth
        }
        this.initialLoad = false
      },
      handleResize () {
        this.initialLoad = true
        this.indicatorTransition = ''
        this.updateIndicator()
      }
    }
  }
</script>

<style lang="scss">
  .tabs {
    height: 100%;
    color: #fff;

    &__touch {
      height: 100%;
    }

    &__bar {
      z-index: 100;
      @include rem(height, $toolbar-height);
      @include position(fixed, 0, 0, auto, 0);
      @include rem(top, $title-header-height);
      background-color: $tabs-background;
      overflow-x: auto;
      width: 100%;
      box-shadow: 0 0 4px 2px rgba(0, 0, 0, .15);

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &__links {
      display: flex;
    }

    &__item {
      flex: 1;
    }

    &__link {
      padding: 0px 10px;
      display: flex;
      align-items: center;
      height: $toolbar-height;
      color: $tabs-item-color;
      justify-content: center;
      text-decoration: none;
      -webkit-touch-callout: none;
      -webkit-tap-highlight-color:  rgba(255, 255, 255, .2); 
      user-select: none;
    }

    &__indicator {
      bottom: 0;
      position: absolute;
      will-change: left, right;
      background-color: $tabs-item-indicator-color;
      @include rem(height, $tabs-item-indicator-height);
    }

    &__highlight {
      @include position(absolute, auto, auto, 0, auto);
      @include rem(height, $tabs-item-indicator-height);
      transition: transform .2s ease-in-out;
      background-color: $tabs-item-indicator-color;
      transition: all .2s ease-in-out;
    }
  
  }
</style>