<template>
  <div class="teachers-list">
    <div class="teachers-list__segment" v-for="(teachers, key, index) in list" v-if="teachers.length !== 0" :key="index">
      <div class="teachers-list__separator">{{ key }}</div>
      <router-link
        v-for="(teacher, index2) in teachers" :key="index2"
        :to="{ name: 'teacher', params: { teacher: teacher.slug, title: teacher.name }, meta: { test: 'wadup' } }"
        class="teachers-list__item">
        {{ teacher.name }}
      </router-link>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'teachers-list',
    props: {
      list: { required: true }
    }
  }
</script>

<style lang="scss">
  .teachers-list {
    flex: 1;
    display: flex;
    flex-direction: column;
  
    &__segment {
      display: flex;
      flex-direction: column;
    }

    &__separator {
      font-weight: bold;
      @include rem(padding, 16px);
      background-color: rgba(#000, .08);
      text-transform: uppercase;
    }

    &__item {
      @include rem(padding, 16px);
      text-decoration: none;
      color: inherit;
      border-bottom: 1px solid rgba(0, 0, 0, .08);
    }
  
  }
</style>