<template>
  <div class="teachers">
    <search-bar :handler="onQuery"></search-bar>
    <container>
      <teachers-list :list="list"></teachers-list>
    </container>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import Container from '@/shared/Container'
  import SearchBar from '@/shared/SearchBar'
  import TeachersList from './TeachersList'

  export default {
    name: 'teachers',
    data () {
      return {
        list: {}
      }
    },
    created () {
      this.list = Object.assign({}, this.teachers)
    },
    components: {
      'container': Container,
      'search-bar': SearchBar,
      'teachers-list': TeachersList
    },
    computed: {
      ...mapGetters({
        'teachers': 'getTeachersList'
      })
    },
    methods: {
      onQuery (query) {
        if (!query) {
          this.list = Object.assign({}, this.teachers)
          return
        }

        const keys = Object.keys(this.teachers)
        for (const key of keys) {
          this.list[key] = this.teachers[key].filter(teacher => teacher.name.toLowerCase().indexOf(query.toLowerCase()) > -1)
        }
      }
    }
  }
</script>

<style lang="scss">

</style>