<template>
  <div id="app">
    <div v-if="!ready || !deputies || updating || error" class="app__loading">
      <loading-indicator></loading-indicator>
      <div v-if="(!ready || !deputies) && !updating && !error" class="app__loading-text">
        Sprawdzanie aktualizacji...
      </div>
      <div v-if="updating" class="app__loading-text">
        Aktualizowanie planów lekcji...
      </div>
      <div v-if="error" class="app__loading-text">
        Podczas pobierania planu lekcji wystąpił błąd. Upewnij się, że masz dostęp do internetu i spróbuj ponownie. Jeżeli problem nadal występuje, skontaktuj się z administratorem.
      </div>
    </div>
    <div v-else>
      <title-header title="hello"></title-header>
      <router-view></router-view>
      <action-bar></action-bar>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import ActionBar from '@/shared/ActionBar'
  import TitleHeader from '@/shared/TitleHeader'
  import LoadingIndicator from '@/shared/LoadingIndicator'

  export default {
    name: 'app',
    components: {
      'action-bar': ActionBar,
      'title-header': TitleHeader,
      'loading-indicator': LoadingIndicator
    },
    created () {
      this.getData()
      this.getAvailableRooms({ day: 0, lesson: 0 })
    },
    computed: {
      ...mapGetters({
        'ready': 'isReady',
        'error': 'hasError',
        'updating': 'isUpdating',
        'deputies': 'getDeputies',
        'favouriteSchedule': 'getFavouriteSchedule'
      })
    },
    methods: {
      ...mapActions({
        'getData': 'getData',
        'getAvailableRooms': 'getAvailableRooms'
      })
    },
    watch: {
      ready (isReady) {
        if (!isReady) return
        document.querySelector('body').classList.remove('js-loading')

        if (this.favouriteSchedule.slug) {
          const params = {}
          params[this.favouriteSchedule.type] = this.favouriteSchedule.slug
          this.$router.push({ name: this.favouriteSchedule.type, params })
        }
      },
      $route (route) {
        document.querySelector('html').scrollTop = 0
      }
    }
  }
</script>

<style lang="scss">
  * {
    user-select: none;
  }

  html, body, #app, #app > div {
    width: 100%;
    height: 100%;
  }

  html {
    overflow-x: hidden;
    @include rem-baseline;
  }

  body.js-loading {
    background: #0d111d;
  }

  body {
    @include rem(font-size, 16px);
    font-family: 'Varela Round', sans-serif;
    background: #e6e6e6;
  }

  .app__loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: bold;
    text-transform: uppercase;
    background-color: #0d111d;
  }

  .app__loading-text {
    color: #fff;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
  }
</style>
