<template>
  <div class="class-list">
    <router-link class="class-list__item" v-for="(clazz, index) in classes" :key="index" :to="{ name: 'clazz', params: { clazz: clazz.slug } }">
      <span class="class-list__badge">{{ clazz.slug }}</span>
      <span class="class-list__title">{{ clazz.name }}</span>
    </router-link>
  </div>  
</template>

<script>
  export default {
    name: 'class-list',
    props: {
      'classes': { required: true, type: Array }
    }
  }
</script>

<style lang="scss">
  .class-list {
    // display: flex;
    // flex-direction: column;
    color: rgba(0, 0, 0, .9);

    &__item {
      padding: 16px;
      display: flex;
      color: rgba(0, 0, 0, .8);
      align-items: center;
      border-bottom: 1px solid rgba(0, 0, 0, .08);
      text-decoration: none;
    }

    &__item:last-child {
      border-bottom: none;
    }

    &__badge {
      display: block;
      padding: 10px 0;
      color: #fff;
      border-radius: 4px;
      font-weight: bold;
      background-color: $color-blue;
      margin-right: 10px;
      width: 56px;
      text-align: center;
      text-transform: uppercase;
    }

    &__text {
      color: #fff;
      display: block;
    }
  }
</style>