<template>
  <div class="classes">
    <tabs>
      <tab v-for="(classList, key, index) in classesList" :key="index" :link="key" :name="'Klasy ' + key">
        <class-list :classes="classList"></class-list>
      </tab>
    </tabs>
  </div>
</template>

<script>
  import ClassList from './ClassList'
  import {Tab, Tabs} from '@/shared/tabs'
  import { mapGetters } from 'vuex'

  export default {
    name: 'classes',
    components: {
      'tab': Tab,
      'tabs': Tabs,
      'class-list': ClassList
    },
    computed: {
      ...mapGetters({
        'classesList': 'getClassesList'
      })
    }
  }
</script>

<style lang="scss">
  .classes {
    height: 100%;

    .tab, .tabs, .class-list, .tabs__container {
      height: 100%;
    }
  
  }

  
</style>