<template>
  <div class="schedule-list__element" :class="{ 'schedule-list__element--active': isActive, 'schedule-list__element--finished': hasFinished }">
    <div class="schedule-list__time">
      <span>{{ timeframe.start }}</span>
      <span>{{ timeframe.end }}</span>
      <span class="schedule-list__time-fill" :style="{ height: indicatorHeight }"></span>
    </div>
    <div class="schedule-list__lessons" :class="{ 'schedule-list__lessons--groups': lessons.length > 1 }">
      <div class="schedule-list__lesson" :class="{ 'schedule-list__lesson--deputy': entry.deputy }" v-for="(entry, index) in lessons" :key="index">
        <span class="schedule-list__minor" @click="navigateTop(entry)">
          {{ (type === 'CLASS' || type === 'TEACHER') ? entry.room : '' }}
          {{ (type === 'CLASSROOM') ? entry.class.toUpperCase() : '' }}
        </span>
        <span v-if="!entry.deputy" class="schedule-list__major">{{ entry.name }}</span>
        <span v-else>
          <span class="schedule-list__major">Zastępstwo</span><br>
          <span class="schedule-list__major">(<s>{{ entry.name }}</s>)</span>          
        </span>
        <span class="schedule-list__minor" @click="navigateBottom(entry)">
          {{ (type === 'CLASS' || type === 'CLASSROOM') ? getTeacherName(entry.teacher) : '' }}
          {{ (type === 'TEACHER') ? entry.class.toUpperCase() : '' }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'

  export default {
    name: 'schedule-list-element',
    data () {
      return {
        end: null,
        start: null
      }
    },
    created () {
      this.insertDeputies()
    },
    props: {
      type: { required: true, type: String },
      lessons: { required: true, type: Array },
      deputies: { required: false, type: Array },
      progress: { required: true, type: Number },
      isActive: { required: true, type: Boolean },
      timeframe: { required: true, type: Object },
      hasFinished: { required: true, type: Boolean }
    },
    methods: {
      insertDeputies () {
        if (!this.deputies) return

        for (const lesson of this.lessons) {
          if (lesson.hasOwnProperty('deputy')) {
            continue
          }

          let lessonDeputy = null
          const isGroupLesson = ((/(\d\/\d)/g).test(lesson.name))

          for (const deputy of this.deputies) {
            if (isGroupLesson) {
              console.log('lesson', lesson.name, 'is a group lesson')
              if (lesson.name.indexOf(deputy.group) > -1) {
                lessonDeputy = deputy
                break
              }
            } else {
              if (!deputy.group) {
                lessonDeputy = deputy
                break
              }
            }
          }

          if (lessonDeputy) {
            lesson.deputy = true
            lesson.teacher = lessonDeputy.teacher
            lesson.room = lessonDeputy.room
          }
        }
      },
      getTeacherName (slug) {
        const keys = Object.keys(this.teachers)

        for (const key of keys) {
          const teachers = this.teachers[key]
          const teacher = teachers.find(teacher => teacher.slug.toLowerCase() === slug.toLowerCase())
          if (teacher) return teacher.name
        }
        return slug
      },
      getClassName (slug) {
        const classNumber = slug.substring(0, 1)

        if (!this.classesList.hasOwnProperty(classNumber)) {
          return undefined
        }

        const classes = this.classesList[classNumber]
        return classes.find(clazz => clazz.slug === slug)
      },
      navigateTop (lesson) {
        if (this.type === 'CLASS' || this.type === 'TEACHER') {
          this.$router.push({ name: 'classroom', params: { classroom: lesson.room.toLowerCase() } })
        } else {
          this.$router.push({ name: 'clazz', params: { clazz: lesson.class.toLowerCase() } })
        }
      },
      navigateBottom (lesson) {
        if (this.type === 'CLASS' || this.type === 'CLASSROOM') {
          this.$router.push({ name: 'teacher', params: { teacher: lesson.teacher.toLowerCase() } })
        } else {
          this.$router.push({ name: 'clazz', params: { clazz: lesson.class.toLowerCase() } })
        }
      }
    },
    computed: {
      indicatorHeight () {
        if (this.hasFinished) return '100%'
        if (this.isActive) return this.progress + '%'
        return 0
      },
      hasDeputyGroups () {
        if (!this.deputies) return false

        for (const entry of this.deputies) {
          if (entry.group !== 0) return true
        }
        return false
      },
      ...mapGetters({
        'classes': 'getClassesList',
        'teachers': 'getTeachersList',
        'classrooms': 'getClassroomsList'
      })
    }
  }
</script>

<style lang="scss">
  @keyframes progressActive {
    0% {
        background-position: 0 0
    }
    100% {
        background-position: 50px 50px
    }
  }

  .schedule-list {
    &__element {
      color: #000;
      padding: 16px;
      display: flex;
      border-bottom: 1px solid rgba(0, 0, 0, .08);

      &:last-child {
        border-bottom: none;
      }
    }

    &__element--active {
      // background-color: rgba(0, 0, 0, .05);

      .schedule-list__time {
        border-color: $color-blue;
      }

      .schedule-list__time-fill {
        background-size: 50px 50px;
        transform: translate3d(0, 0, 0);
        background-color: rgba($color-blue, .8);
        animation: progressActive 2s linear infinite;
        background-image: linear-gradient(-45deg,rgba(255,255,255,0.225) 25%,transparent 25%,transparent 50%,rgba(255,255,255,0.225) 50%,rgba(255,255,255,0.225) 75%,transparent 75%,transparent);
      }
    }

    &__element--finished .schedule-list__time {
      border-color: $color-blue;
    }

    &__time {
      display: flex;
      flex-direction: column;
      font-weight: bold;
      align-items: center;
      justify-content: space-between;
      padding: 4px 8px;
      border: 3px solid $color-grey;
      border-radius: 4px;
      position: relative;
      margin-right: 16px;

      &-fill {
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        will-change: height;
        transition: height .2s ease-in-out;
        background-color: rgba($color-blue, 0.8);
      }
    }
    
    &__lessons {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    &__lessons--groups .schedule-list__lesson {
      border-bottom: 1px solid rgba(0, 0, 0, .08);
      margin-bottom: 4px;
      padding-bottom: 4px;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    &__lesson {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__lesson--deputy .schedule-list__major {
      font-weight: bold;
      color: $color-indigo;
      text-transform: uppercase;
    }

    &__minor {
      cursor: pointer;
      color: rgba(#000, 0.5);
    }

    &__major {
      font-weight: bold;
      padding: 1px 0;
      text-transform: uppercase;
    }

  }
</style>