<template>
  <div class="schedule">
    <tabs :active="activeTab">
      <tab name="Poniedziałek" link="poniedzialek">
        <schedule-list :type="type" :day="1" :lessons="schedule.schedule.mo" :deputies="getDeputies('mo')"></schedule-list>
      </tab>
      <tab name="Wtorek" link="wtorek">
        <schedule-list :type="type" :day="2" :lessons="schedule.schedule.tu" :deputies="getDeputies('tu')"></schedule-list>
      </tab>
      <tab name="Środa" link="sroda">
        <schedule-list :type="type" :day="3" :lessons="schedule.schedule.we" :deputies="getDeputies('we')"></schedule-list>
      </tab>
      <tab name="Czwartek" link="czwartek">
        <schedule-list :type="type" :day="4" :lessons="schedule.schedule.th" :deputies="getDeputies('th')"></schedule-list>
      </tab>
      <tab name="Piątek" link="piatek">
        <schedule-list :type="type" :day="5" :lessons="schedule.schedule.fr" :deputies="getDeputies('fr')"></schedule-list>
      </tab>
    </tabs>
  </div>
</template>

<script>
  import ScheduleList from './ScheduleList'
  import { Tab, Tabs } from '@/shared/tabs'
  import { mapGetters, mapActions } from 'vuex'

  export default {
    name: 'schedule',
    components: {
      'tab': Tab,
      'tabs': Tabs,
      'schedule-list': ScheduleList
    },
    data () {
      return {
        type: '',
        slug: '',
        schedule: {}
      }
    },
    created () {
      this.setSchedule()
    },
    watch: {
      $route (newRoute, oldRoute) {
        if (newRoute.path === oldRoute.path) return
        this.setSchedule()
      }
    },
    destroyed () {
      this.clearHeader()
    },
    methods: {
      ...mapActions({
        'setHeader': 'setHeader',
        'clearHeader': 'clearHeader'
      }),
      getDeputies (day) {
        if (!this.deputies || !this.deputies.hasOwnProperty('schedules') || !this.deputies.schedules.hasOwnProperty(day)) return null
        const deputiesForDay = this.deputies.schedules[day]
        if (!deputiesForDay.hasOwnProperty(this.slug)) return null
        return deputiesForDay[this.slug]
      },
      setSchedule () {
        const params = this.$route.params
        if (params.hasOwnProperty('clazz')) {
          this.type = 'CLASS'
          this.slug = params.clazz.toLowerCase()
          this.schedule = this.getClass(this.slug)
        } else if (params.hasOwnProperty('teacher')) {
          this.type = 'TEACHER'
          this.schedule = this.getTeacher(params.teacher.toLowerCase())
        } else if (params.hasOwnProperty('classroom')) {
          this.type = 'CLASSROOM'
          this.schedule = this.getClassroom(params.classroom.toLowerCase())
        }

        if (this.schedule === undefined) {
          this.$router.push({ name: 'classes' })
          return
        }

        let subtitle = this.schedule.name

        if (this.type === 'CLASSROOM') {
          subtitle = (this.schedule.slug === this.schedule.name ? this.schedule.slug : this.schedule.slug + ' - ' + this.schedule.name)
        }

        this.setHeader({
          subtitle: subtitle,
          title: 'Plan Lekcji'
        })
      },
      getClass (slug) {
        const classNumber = slug.substring(0, 1)

        if (!this.classesList.hasOwnProperty(classNumber)) {
          return undefined
        }

        const classes = this.classesList[classNumber]
        return classes.find(clazz => clazz.slug === slug)
      },
      getTeacher (slug) {
        const keys = Object.keys(this.teachersList)

        for (const key of keys) {
          const teacher = this.teachersList[key].find(teacher => teacher.slug === slug)
          if (teacher !== undefined) {
            return teacher
          }
        }
      },
      getClassroom (slug) {
        const keys = Object.keys(this.classroomsList)

        for (const key of keys) {
          const classroom = this.classroomsList[key].find(classroom => classroom.slug === slug)
          if (classroom !== undefined) {
            return classroom
          }
        }
      }
    },
    computed: {
      activeTab () {
        const day = new Date().getDay()
        return (day === 6 || day === 0) ? 1 : day
      },
      ...mapGetters({
        'classesList': 'getClassesList',
        'teachersList': 'getTeachersList',
        'classroomsList': 'getClassroomsList',
        'deputies': 'getDeputies'
      })
    }
  }
</script>

<style lang="scss">
  .schedule {
    height: 100%;
  }
</style>