<template>
  <div class="schedule-list">
    <div v-if="isEmpty" class="schedule-list__empty">
      Brak lekcji w tym dniu
    </div>
    <schedule-list-element v-else v-for="(lesson, lessonIndex) in lessons" ref="lesson"
      :lessons="lesson"
      :timeframe="timeframes[lessonIndex]"
      :has-finished="hasLessonFinished(lessonIndex)"
      :is-active="currentLesson === lessonIndex"
      :progress="currentLessonProgress"
      :type="type"
      :deputies="deputies ? deputies[lessonIndex] : null"
      :key="lessonIndex">
    </schedule-list-element>
  </div>
</template>

<script>
  import { mapGetters } from 'vuex'
  import ScheduleListElement from './ScheduleListElement'

  export default {
    name: 'schedule-list',
    props: {
      day: { required: true, type: Number },
      type: { required: true, type: String },
      lessons: { required: true, type: Object },
      deputies: { required: false, type: Object }
    },
    data () {
      return {
        clock: null,
        pastLessons: [],
        anchorElement: null,
        currentLesson: -1,
        currentLessonProgress: -1
      }
    },
    components: {
      'schedule-list-element': ScheduleListElement
    },
    created () {
      if (this.showProgress) {
        this.tick()
        this.clock = window.setInterval(this.tick.bind(this), 1000 * 30)
      }
    },
    mounted () {
      this.insertAdditionalPadding()
      this.scrollToCurrentLesson()
    },
    destroyed () {
      window.clearInterval(this.clock)
    },
    methods: {
      insertAdditionalPadding () {
        const windowHeight = window.innerHeight
        const listRect = this.$el.getBoundingClientRect()
        const actionBarHeight = document.querySelector('.action-bar').getBoundingClientRect().height

        if (listRect.bottom >= windowHeight - actionBarHeight && listRect.bottom <= windowHeight) {
          this.$el.style.paddingBottom = (window.innerHeight - listRect.bottom + 1) + 'px'
        }
      },
      scrollToCurrentLesson () {
        if (!this.$refs.lesson) return

        const finished = []
        let foundActive = false

        for (const lesson of this.$refs.lesson) {
          if (lesson.isActive) {
            foundActive = true
            this.scrollToLesson(lesson)
            break
          } else if (lesson.hasFinished) {
            finished.push(lesson)
          }
        }

        if (!foundActive && finished.length !== 0) {
          this.scrollToLesson(finished[finished.length - 1])
        }
      },
      scrollToLesson (lesson) {
        const lessonPos = lesson.$el.offsetTop
        const headerHeight = document.querySelector('.title-header').offsetHeight
        const tabsHeight = document.querySelector('.tabs__bar').offsetHeight
        document.querySelector('html').scrollTop = (lessonPos - headerHeight - tabsHeight)
      },
      hasLessonFinished (lessonIndex) {
        return this.pastLessons.indexOf(lessonIndex) > -1
      },
      tick () {
        const now = new Date()
        const lessonIndexes = Object.keys(this.timeframes)

        for (const lessonIndex of lessonIndexes) {
          const lessonTimeframe = this.timeframes[lessonIndex]
          const startParts = lessonTimeframe.start.split(':').map(number => Number.parseInt(number))
          const endParts = lessonTimeframe.end.split(':').map(number => Number.parseInt(number))

          const startDate = new Date(now.getTime())
          startDate.setHours(startParts[0])
          startDate.setMinutes(startParts[1])

          const endDate = new Date(now.getTime())
          endDate.setHours(endParts[0])
          endDate.setMinutes(endParts[1])

          if (now >= endDate) {
            this.pastLessons.push(lessonIndex)
            if (this.currentLesson === lessonIndex) this.currentLesson = -1
            continue
          }

          if (now >= startDate && now < endDate) {
            this.currentLesson = lessonIndex
            this.currentLessonProgress = Math.round((now - startDate) / (endDate - startDate) * 100)
          }
        }
      }
    },
    computed: {
      ...mapGetters({
        'timeframes': 'getTimeframes'
      }),
      showProgress () {
        const now = new Date()
        return now.getDay() === this.day
      },
      isEmpty () {
        return Object.keys(this.lessons).length === 0 && this.lessons.constructor === Object
      }
    }
  }
</script>

<style lang="scss">
  .schedule-list--padded {
    @include rem(padding-bottom, $action-bar-height);    
  }

  .schedule-list {

    &__empty {
      color: #000;
      padding: 16px;
      text-align: center;
    }
  }
</style>